@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/tópicos.css");
@import url("styles/cadastro.css");
@import url("styles/rodapé.css");


:root {
    --cor-de-fundo: #EBECEE;
    --branco: white;
    --laranja: #EB9800;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.749%, #326589 165.37%);
    --fonte-principal: "Poppins";
    --azul: #002F52;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}




